<section class="text-gray-700 body-font md:ml-56 lg:ml-64 w-full">
  <div class="px-5 py-10 mx-auto w-full max-w-6xl">
    <div class="my-4 absolute-center md:flex">
      <header class="my-4 absolute-center">
        <span
          class="text-gray-700 lg:text-6xl text-5xl font-semibold leading-none tracking-wider"
          >Transaction History</span
        >
      </header>
    </div>
    <hr class="border-2 border-gray-700 mb-8" />

    <div class="flex flex-col lg:items-center">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <div
            class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg"
          >
            <% if(message === '') { %>
            <table
              class="min-w-full table-auto divide-y divide-gray-200 overflow-x-auto select-none"
            >
              <thead>
                <tr class="bg-gray-200 px-12">
                  <th
                    class="p-1 sm:p-4 text-sm sm:text-xl border-r-2 border-gray-300 break-all"
                  >
                    Date
                  </th>
                  <th
                    class="p-1 sm:p-4 text-sm sm:text-xl border-r-2 border-gray-300"
                  >
                    Operation
                  </th>
                  <th
                    class="sm:p-4 text-sm sm:text-xl border-r-2 border-gray-300"
                  >
                    Amount
                  </th>
                  <th
                    class="p-1 sm:p-4 text-sm sm:text-xl border-r-2 border-gray-300"
                  >
                    Details
                  </th>
                </tr>
              </thead>
              <% transactions.forEach( (stock) => { %>
              <tr class="bg-white">
                <td
                  class="border px-1 md:px-4 py-2 text-xs sm:text-xl break-words"
                >
                  <%= stock.createdAt %>
                </td>
                <td class="border px-1 md:px-4 py-2 text-xs sm:text-xl">
                  <% if(stock.operation == "Debited") {%>
                  <p
                    class="text-center text-gray-100 rounded-full text-xs sm:text-xl bg-tempc-400"
                  >
                    <%= stock.operation %>
                  </p>
                  <%} else {%>
                  <p
                    class="text-center text-gray-100 rounded-full text-xs sm:text-xl bg-tempc-500"
                  >
                    <%= stock.operation %>
                  </p>
                  <%}%>
                </td>
                <td
                  class="border px-1 md:px-4 py-2 text-center text-xs sm:text-xl"
                >
                  <%= stock.amount %>
                </td>
                <td class="border px-1 md:px-4 py-2 text-xs sm:text-xl">
                  <%= stock.details %>
                </td>
              </tr>
              <% }) %>
            </table>
            <% } else { %>
            <p><%= message %></p>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <%- include('./partials/_footer.ejs') %>
</section>
