<main class="md:col-span-4 md:ml-56 lg:ml-64 w-full">
  <div class="container px-5 py-10 mx-auto md:px-auto">
    <!-- <div class="absolute-center mx-auto"> -->

    <!-- header -->

    <header class="my-4 absolute-center">
      <span
        class="text-gray-700 text-3xl font-semibold leading-none tracking-wider"
        >Hello,</span
      >
      <h2 class="text-5xl leading-none tracking-wider view-link">
        <%= user.displayName%>.
      </h2>
    </header>

    <hr class="line" />

    <!-- search box -->

    <div>
      <div class="bg-white relative text-gray-800 mt-12 shadow-md rounded-lg">
        <input
          id="searchbar"
          type="search"
          name="serch"
          placeholder="Search Stocks"
          class="bg-transparent h-10 px-5 pl-10 block w-full rounded-full text-lg focus:outline-none"
        />
        <button type="submit" class="absolute left-0 top-0 mt-3 ml-4">
          <svg
            class="h-4 w-4 fill-current"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1"
            id="Capa_1"
            x="0px"
            y="0px"
            viewBox="0 0 56.966 56.966"
            style="enable-background: new 0 0 56.966 56.966"
            xml:space="preserve"
            width="512px"
            height="512px"
          >
            <path
              d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"
            />
          </svg>
        </button>
      </div>

      <ul
        id="search-result"
        style="height: 0px; overflow: hidden; white-space: pre"
        class="text-lg p-5 ml-10 list-none mt-0 text-gray-700"
      ></ul>

      <div class="mt-4 grid lg:grid-cols-3 gap-10">
        <!-- cards go here -->

        <!-- card1 -->

        <div
          class="card bg-white rounded-lg flex items-center h-20 sm:h-20 w-full object-cover px-5 shadow-2xl"
        >
          <div class="flex-shrink-0 w-10 h-10">
            <img class="w-full h-full" src="images/graph1.png" alt=" " />
          </div>
          <div class="font-bold text-xl xl:text-2xl ml-3">
            <p class="text-gray-900 whitespace-no-wrap">
              $ <%= totalPortfolio.toFixed(2)%>
            </p>
            <span class="block text-gray-500 text-sm">Total Portfolio</span>
          </div>
        </div>

        <!-- card 2 -->

        <div
          class="card bg-white rounded-lg flex items-center h-20 sm:h-20 w-full object-cover px-5 shadow-2xl"
        >
          <div class="flex-shrink-0 w-10 h-10">
            <img class="w-full h-full" src="images/graph2.png" alt=" " />
          </div>
          <div class="font-bold text-xl xl:text-2xl ml-3 justify-center">
            <p
              id="profitLossValue"
              class="text-gray-900 whitespace-no-wrap"
            ></p>
            <span class="block text-gray-500 text-sm">Profit / Loss</span>
          </div>
        </div>

        <!-- card 3 -->

        <div
          class="card bg-white rounded-lg flex items-center h-20 sm:h-20 w-full object-cover px-5 shadow-2xl"
        >
          <div class="flex-shrink-0 w-10 h-10">
            <img class="w-full h-full" src="images/graph3.png" alt=" " />
          </div>
          <div class="font-bold text-xl xl:text-2xl ml-3">
            <p class="text-gray-900 whitespace-no-wrap">
              $ <%= user.balance.toFixed(2)%>
            </p>
            <span class="block text-gray-500 text-sm">Balance</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Stock status table -->
    <div class="mt-12">
      <div class="flex justify-between">
        <!-- heading of table -->
        <h2 class="text-lg font-bold leading-tight py-3">Your Stock Status</h2>
      </div>
      <% if( StockMessage === '') { %>
      <table class="table-fixed w-full">
        <thead>
          <tr
            class="bg-gray-100 font-semibold text-gray-600 text-xs uppercase border-b tracking-wider"
          >
            <th class="w-1/4 px-4 py-2">Symbol</th>
            <th class="w-1/4 px-4 py-2">Current</th>
            <th class="w-1/4 px-4 py-2">Up/Down</th>
            <th class="w-1/4 px-4 py-2">Stocks</th>
            <th class="w-1/4 px-4 py-2">Sell</th>
          </tr>
        </thead>
        <tbody>
          <% user.stock.forEach( (stock) => { %>
          <tr class="bg-white border-b text-center">
            <td class="px-4 py-2 text-center"><%= stock.companySymbol %></td>
            <td class="px-4 py-2 text-center">
              <% currentPrice = Math.floor(stock.stockPrice*(Math.random()+0.7))
              %> $<%= currentPrice %>
            </td>
            <td class="px-4 py-2 text-center">
              <% let price = currentPrice - stock.stockPrice %> <% profitLoss =
              + currentPrice - stock.stockPrice %> <% if(price < 0) { %> <%
              color="red" %>
              <span
                >$<%= price.toFixed(2) %><span class="text-red-600 text-lg"
                  >&#8595;</span
                ></span
              >
              <% } else { %> <% color="green" %>
              <span
                >$<%= price.toFixed(2) %><span class="text-green-600 text-lg"
                  >&#8593;</span
                ></span
              >
              <% } %>
            </td>

            <td class="px-4 py-2 text-center"><%= stock.noOfStock %></td>
            <td class="px-4 py-2 text-center">
              <form action="/transaction/sell/<%= stock._id%>" method="POST">
                <button type="submit">
                  <svg
                    class="w-6 h-6"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    viewBox="0 0 24 24"
                    stroke="green"
                  >
                    <path
                      d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v8m0 0v1m0-1c-1.11 0-2.08-.402-2.599-1M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                    ></path>
                  </svg>
                </button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>

      <p class="hidden" id="profitLoss"><%= profitLoss %></p>

      <% } else { %>
      <p><%= StockMessage %></p>
      <% } %>
    </div>
  </div>

  <!-- Footer -->
  <%- include('partials/_footer.ejs') %>
</main>

<!-- script for search bar -->

<script>
  let profitLossVal = document.getElementById("profitLoss").innerText;

  if (profitLossVal < 0) {
    document.getElementById("profitLossValue").innerHTML = parseFloat(profitLossVal).toFixed(2) + `<span class="text-red-600 ml-1 text-red-600 font-black text-2xl">&#8595;</span>`;
  } else {
    document.getElementById("profitLossValue").innerHTML = parseFloat(profitLossVal).toFixed(2) + `<span class="text-red-600 ml-1 text-green-600 font-black text-2xl">&#8593;</span>`;
  }

  const inputField = document.getElementById('searchbar')
  inputField.addEventListener('input', (event) => {
      console.log(event.target.value)
      const value = event.target.value
      //sample data
      const dataset = <%- JSON.stringify(totalData) %> ;

      // when symbol matches

      let data = dataset.filter(function (el) {
          return el.Symbol.includes(value.toUpperCase())
      })

      // when no symbol matches

      if (data.length === 0) {

          let data1 = dataset.filter(function (el) {
              return (el["Company Name"].toLowerCase().includes(value.toLowerCase()))
          })
          data = data1;
      }

      let list = "";
      if (value === "") {
          list = "";
          data = [];
      }
      let n = data.length
      for (i = 0; i <= (n - 1); i++) {
          let item = data[i];
          list += `<li><a href='/view/${item.Symbol}'>${item.Symbol}</a></li>`
      }
      document.getElementById('search-result').innerHTML = list;
      console.log(data)
  })
</script>
