<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
&&<div class="md:ml-64 py-6 px-3 w-full">
  <div class="mx-auto max-w-4xl">
    <div class="head flex justify-between items-center mx-auto">
      <div class="company flex flex-col justify-start items-center">
        <h1 class="text-3xl font-bold"><%= assetName %></h1>
        <h3>Sector: <span class=" text-sm bg-blue-400 rounded-lg p-1"><%= Sector %></span></h3>
      </div>
      <div class="price">
        <h1 class="text-3xl font-bold"><%= latestPrice%></h1>
      </div>
    </div>
    <section class="price-summary my-8 bg-white shadow-md p-4 rounded">
      <h2 class="text-xl font-bold mb-4">Price Summary</h2>
      <div class="table w-full">
        <div class="w-full grid grid-flow-col grid-cols-2 grid-rows-2 gap-8 md:grid-cols-4 md:grid-rows-1">
          <div class="flex flex-col justify-start">
            <p class="text-md uppercase">Today's High</p>
            <p class="text-xl font-semibold"><%=  high %></p>
          </div>
          <div class="flex flex-col justify-start">
            <p class="text-md uppercase">Today's Low</p>
            <p class="text-xl font-semibold"><%=  low %></p>
          </div>
          <div class="flex flex-col justify-start">
            <p class="text-md uppercase">52 Week High</p>
            <p class="text-xl font-semibold"><%= weeksHigh %></p>
          </div>
          <div class="flex flex-col justify-start">
            <p class="text-md uppercase">52 Week Low</p>
            <p class="text-xl font-semibold"><%= weeksLow %></p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<script>
  // var datesList = <% - JSON.stringify(dates) %>;
  // var closingList = <% - JSON.stringify(closing) %> ;
  // var ctx = document.getElementById('chart').getContext('2d');
  // var myChart = new Chart(ctx, {
  //   type: 'line',
  //   data: {
  //     labels: datesList, closingList,
  //     datasets: [{
  //       label: <% - JSON.stringify(symbol) %>,
  //       data: closingList,
  //       borderColor: "#3e95cd",
  //       backgroundColor: "rgba(118,152,255,0.7)"
  //     }]
  //   },
  //   options: {
  //     responsive: true,
  //     maintainAspectRatio: false,
  //   },
  // });
</script>