<section
  class="text-gray-700 body-font md:ml-56 lg:ml-64 md:mx-auto md:pr-14 w-screen inline"
>
  <div class="container px-5 py-10 mx-auto md:px-auto">
    <div class="my-4 absolute-center md:flex">
      <header class="my-4 absolute-center">
        <span
          class="text-gray-700 lg:text-6xl text-5xl font-semibold leading-none tracking-wider"
          >Transaction History</span
        >
      </header>
    </div>
    <hr class="line my-4 mb-8" />

    <div class="flex flex-col lg:items-center">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <div
            class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg"
          >
            <% if(message === '') { %>
            <table class="mt-6 min-w-full table-auto divide-y divide-gray-200">
              <thead>
                <tr class="bg-gray-200 px-12">
                  <th class="px-8 py-2 text-base">Date</th>
                  <th class="px-8 py-2 text-base">Operation</th>
                  <th class="px-8 py-2 text-base">Amount</th>
                  <th class="px-8 py-2 text-base">Details</th>
                </tr>
              </thead>
              <% transactions.forEach( (stock) => { %>
              <tr class="bg-white">
                <td class="border px-4 py-2 text-base">
                  <%= stock.createdAt %>
                </td>
                <td class="border px-4 py-2 text-base">
                  <% if(stock.operation == "Debited") {%>
                  <p
                    class="text-center text-gray-100 rounded-full md:text-sm bg-tempc-400"
                  >
                    <%= stock.operation %>
                  </p>
                  <%} else {%>
                  <p
                    class="text-center text-gray-100 rounded-full bg-tempc-500"
                  >
                    <%= stock.operation %>
                  </p>
                  <%}%>
                </td>
                <td class="border px-4 py-2 text-center text-base">
                  <%= stock.amount %>
                </td>
                <td class="border px-4 py-2 text-base"><%= stock.details %></td>
              </tr>
              <% }) %>
            </table>
            <% } else { %>
            <p><%= message %></p>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <%- include('../partials/_footer.ejs') %>
</section>
